:root {
  --bg-color: #dedef2;
  --link-color: #ff6f5c;
  --link-hover-color: #d5946c;
  --color-4: #1715a5;
  --color-5: #2b2b2b;

  --primary-font: urbane, sans-serif;
  --secondary-font: urbane, sans-serif;
  --main-text-color: #000;

  --white-space: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}
