:root {
  --bg-color: #dfdff2;
  --color-0: #ffff;
  --color-1: #1715a5;
  --color-2: #dfdff2;
  --color-3: #ff6f5c;
  --color-4: #d5946c;
  --color-5: #2b2b2b;

  --primary-font: urbane, sans-serif;
  --main-text-color: #1715a5;

  --white-space: 2rem;
}

/*body*/

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* main, */

header {
  background-color: var(--bg-color);
}

nav {
  color: var(--color-0);
  font-family: var(--primary-font);
  padding-left: 5vw;
  padding-right: 5vw;
}

nav:hover {
  background-color: var(--color-0);
}

nav img {
  width: 4vw;
}

nav a {
  color: var(--color-1);
}

nav a:active {
  color: var(--color-3);
}

#header_video {
  width: 100%;
}

/* Section 2 */
#section1 {
  margin: 5vw;
  height: 41vw;
}

.sec1_1 {
  font-family: var(--primary-font);
  color: var(--color-1);
}

.sec1_1 h2 {
  font-weight: 600;
}

.sec1_1 p {
  margin-top: 2vw;
  width: 40vw;
  line-height: 1.8vw;
  font-weight: 300;
}

.sec1_img1 {
  width: 100%;
}

/* Section 2 */
#section2 {
  height: 42.5vw;
}

.buy_now {
  background-color: var(--color-3);
  color: var(--color-0);
  font-family: var(--primary-font);
  border: none;
  font-weight: 700;
}

.sec2 {
  font-family: var(--primary-font);
  color: var(--color-1);
}

.sec2 h2 {
  font-weight: 600;
}

.sec2 p {
  margin-top: 2vw;
  width: 40vw;
  line-height: 1.8vw;
  font-weight: 300;
}

.sec2 button {
  margin-top: 1vw;
  height: 2.5vw;
}

#section2 img {
  margin-top: 3vw;
}

/*section 4*/

#section4 {
  background-color: var(--bg-color);
  height: 50vw;
}

.skate {
  width: 95%;
  padding-top: 19%;
  padding-bottom: 8%;
  padding-left: 2%;
}

.sec4 {
  font-family: var(--primary-font);
  color: var(--color-1);
}

.sec4 h2 {
  margin-top: 14vw;
  font-weight: 600;
}

.sec4 p {
  margin-top: 2vw;
  width: 40vw;
  line-height: 1.8vw;
  font-weight: 300;
}

.sec4 button {
  margin-top: 1vw;
  height: 2.5vw;
  margin-bottom: 8vw;
}

.sec4 button {
  margin-top: 1vw;
  height: 2.5vw;
  margin-bottom: 8vw;
}

.hayde_highlight {
  color: #ff6f5c;
}

#section6 {
  /* border: solid blue 3px; */
  padding: 4vw;
}

.sec6_row {
  /* border: solid red 2px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1vw;
}

#section6 h2 {
  font-family: var(--primary-font);
  background-color: #ffff;
  color: var(--color-1);
  font-weight: 600;
  text-align: center;
}

.some_post {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.some_post:hover {
  opacity: 0.8;
  cursor: pointer;
}

.some_col {
  /* border: rgb(114, 250, 125) 2px solid; */
  display: flex;
  align-items: center;
}

.noodle_right {
  padding: 0;
}

.row {
  --bs-gutter-x: 0.1rem;
}

.sec2_5 {
  font-family: var(--primary-font);
  color: var(--color-1);
  justify-content: center;
  display: flex;
}

.sec2_5 p,
.sec2_5 h2 {
  margin-right: 3rem;
  align-items: center;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/*footer*/

footer {
  background-color: var(--color-2);
}

footer h2 {
  margin-top: 5vw;
  font-family: var(--primary-font);
  color: var(--color-1);
}

.email {
  width: 25vw;
  margin-top: 1vw;
}

.subscribe {
  width: 25vw;
  margin-top: 0.9vw;
  margin-bottom: 5vw;
}

input[type="text"],
input[type="submit"] {
  font-family: var(--primary-font);
  border-radius: 15px;
  color: var(--color-1);
}

input[type="submit"] {
  background-color: var(--color-3);
  border: none;
  font-weight: 600;
}

input[type="text"] {
  border: 1px solid;
  border-color: var(--color-1);
  font-weight: 300;
  background-color: #1715a500;
}

.copyright {
  text-align: center;
  padding-top: 17vw;
  font-family: var(--primary-font);
  color: var(--color-1);
  font-weight: 300;
  font-size: 0.8rem;
}

/* ----------------------- Animation----------------------- */

.panel {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  min-height: 100%;
}

.section_hayde {
  scroll-snap-align: start;
}

.nudel_bg {
  position: relative;
  background-image: url(images/section3-left.jpg);
  background-size: contain;
}

#nudel_container {
  position: absolute;
  top: 8vw;
  left: 10vw;
}

#nudel_sprite {
  background-image: url(images/nudel_skaal.svg);
  height: 36vw;
  width: 35vw;
}

a {
  color: #555;
  font-weight: 400;
}

/* -----pSection - Animation: Scroll----- */

/* .pSection {
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
}

.p_section_container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1070px;
  position: relative;
  z-index: 1;
}

.pContent {
  width: 65%;
  background-color: rgba(78, 152, 21, 0.8);
  color: white;
  padding: 40px 60px;
}

.pImage {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  max-height: 900px;
} */

/* -----Section 1 - Animation: Scroll----- */
.animation_section1 {
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
}

.animation_section_container1 {
  position: relative;
  z-index: 1;
  /* border: aqua solid 2px; */
}

.animation_section_content1 {
}

.animation_section_image1 {
  position: absolute;
  width: 45vw;
  top: 0;
  right: 0vw;
}

/* -----Section 2 - Animation: Scroll----- */
.animation_section2 {
  position: relative;

  /* border: solid 2px blue; */
  background-color: var(--bg-color);
}

.animation_section_container2 {
  position: relative;
  z-index: 1;
  /* border: aqua solid 2px; */
}

.animation_section_content2 {
  position: absolute;
  top: 10vw;
  right: -4vw;
  border: yellowgreen solid 2px;
}

.animation_section_image2 {
  max-width: 50%;
  position: absolute;
  top: 13vw;
  left: 0vw;
}

/* -----Section 2.5 - Animation: Scroll----- */
.fixed-bg {
  background-image: url("images/sec_5.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* -----Section 4 - Animation: Scroll----- */
.animation_section4 {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  /* border: solid 2px blue; */
  background-color: var(--bg-color);
}

.animation_section_container4 {
  position: relative;
  z-index: 1;
  /* border: aqua solid 2px; */
}

.animation_section_content4 {
  position: absolute;
  top: -10vw;
  right: -2vw;
}

.animation_section_image4 {
  position: absolute;
  top: 0vw;
  left: 5vw;
  width: 45vw;
}
